In [1]:
import pandas as pd

In [2]:
df_main = pd.read_csv("team_data_collected.csv")
df_opponent = pd.read_csv("only_opponent_data.csv")

In [3]:
df_opponent = df_opponent.rename(columns={"date": "Date", 
                                          "team": "Opponent", "opp": "Team",
                                          "adj_o": "opp_adj_o", "adj_d": "opp_adj_d"})
df_opponent.head(20)

          Date        Opponent            Team  opp_adj_o  opp_adj_d
0   2024-12-17    George Mason            Duke       93.6       93.5
1   2024-12-10  Incarnate Word            Duke       96.6       98.5
2   2024-12-08      Louisville            Duke      121.0       97.3
3   2024-12-04          Auburn            Duke      152.8      117.1
4   2024-11-29         Seattle            Duke       88.5       89.3
5   2024-11-26          Kansas            Duke      134.8       92.6
6   2024-11-22         Arizona            Duke       98.9       90.4
7   2024-11-16         Wofford            Duke       69.8      115.5
8   2024-11-12        Kentucky            Duke      119.6       88.1
9   2024-11-08            Army            Duke      107.2      119.0
10  2024-11-04           Maine            Duke      108.9      110.8
11  2024-12-17         Florida  North Carolina      124.3       96.2
12  2024-12-14        La Salle  North Carolina       96.8      107.5
13  2024-12-07    Georgia Tech  North Carolina       93.3       79.5
14  2024-12-04         Alabama  North Carolina      122.1       85.2
15  2024-11-27    Michigan St.  North Carolina      128.7      101.3
16  2024-11-26          Auburn  North Carolina      124.2       87.2
17  2024-11-25          Dayton  North Carolina      126.8      105.4
18  2024-11-22          Hawaii  North Carolina      107.5      116.8
19  2024-11-15        American  North Carolina       96.3      116.4

In [4]:
df_main

,Date,Team,Opponent,Location,WAB,ADJO,ADJD,EFF,EFG%,TO%,...,3P,Opp EFF,Opp EFG%,Opp TO%,Opp OR%,Opp FTR,Opp 2P,Opp 3P,Opponent_score,Team_score
0,2024-11-04,Duke,Maine,H,0.1,125.3,95.2,130.6,64.3,17.7,...,11-29,84.3,39.5,19.0,19.4,31.6,18-43,3-14,62,96
1,2024-11-08,Duke,Army,H,0.1,124.7,92.3,141.0,61.3,11.3,...,17-38,81.8,39.1,18.3,23.3,14.1,13-35,8-29,58,100
2,2024-11-12,Duke,Kentucky,N,-0.2,106.8,86.4,95.7,42.3,9.3,...,4-24,102.3,47.6,14.6,23.3,38.1,15-38,10-25,77,72
3,2024-11-16,Duke,Wofford,H,-0.1,124.7,56.9,133.7,61.3,15.5,...,16-38,54.4,28.9,29.5,29.3,5.3,9-24,5-33,35,86
4,2024-11-22,Duke,Arizona,A,0.6,111.7,75.9,101.9,50.0,20.7,...,9-25,81.2,45.3,22.2,16.7,20.8,15-30,6-23,55,69
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300,2024-11-27,Michigan,Xavier,N,0.3,110.9,73.9,109.9,58.2,14.1,...,11-22,74.7,41.4,26.8,25.6,15.5,12-35,8-23,53,78
301,2024-12-03,Michigan,Wisconsin,A,1.0,102.7,84.4,99.3,44.1,17.8,...,6-25,94.8,39.1,14.8,34.8,29.7,16-37,6-27,64,67
302,2024-12-07,Michigan,Iowa,H,1.4,121.1,99.5,114.5,58.6,22.9,...,4-20,111.8,47.4,5.4,30.6,22.1,23-50,9-27,83,85
303,2024-12-10,Michigan,Arkansas,N,0.9,123.6,108.4,112.3,64.4,21.9,...,8-18,114.8,56.8,18.1,33.3,33.3,24-43,9-23,89,87
304,2024-12-18,Michigan,Oklahoma,N,0.4,130.3,111.6,123.1,50.0,14.3,...,4-28,124.5,57.9,18.6,35.5,42.1,15-32,12-25,87,86

In [5]:
# Merge the two dataframes on 'date', 'team', and 'opp'
merged_df = pd.merge(df_main, df_opponent, on=['Date', 'Team', 'Opponent'])

# Display the merged DataFrame
display(merged_df)

merged_df.to_csv('final_opponent_and_team_data.csv', index=False)

,Date,Team,Opponent,Location,WAB,ADJO,ADJD,EFF,EFG%,TO%,...,Opp EFG%,Opp TO%,Opp OR%,Opp FTR,Opp 2P,Opp 3P,Opponent_score,Team_score,opp_adj_o,opp_adj_d
0,2024-11-04,Duke,Maine,H,0.1,125.3,95.2,130.6,64.3,17.7,...,39.5,19.0,19.4,31.6,18-43,3-14,62,96,108.9,110.8
1,2024-11-08,Duke,Army,H,0.1,124.7,92.3,141.0,61.3,11.3,...,39.1,18.3,23.3,14.1,13-35,8-29,58,100,107.2,119.0
2,2024-11-12,Duke,Kentucky,N,-0.2,106.8,86.4,95.7,42.3,9.3,...,47.6,14.6,23.3,38.1,15-38,10-25,77,72,119.6,88.1
3,2024-11-16,Duke,Wofford,H,-0.1,124.7,56.9,133.7,61.3,15.5,...,28.9,29.5,29.3,5.3,9-24,5-33,35,86,69.8,115.5
4,2024-11-22,Duke,Arizona,A,0.6,111.7,75.9,101.9,50.0,20.7,...,45.3,22.2,16.7,20.8,15-30,6-23,55,69,98.9,90.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297,2024-11-27,Michigan,Xavier,N,0.3,110.9,73.9,109.9,58.2,14.1,...,41.4,26.8,25.6,15.5,12-35,8-23,53,78,85.8,96.0
298,2024-12-03,Michigan,Wisconsin,A,1.0,102.7,84.4,99.3,44.1,17.8,...,39.1,14.8,34.8,29.7,16-37,6-27,64,67,103.9,89.6
299,2024-12-07,Michigan,Iowa,H,1.4,121.1,99.5,114.5,58.6,22.9,...,47.4,5.4,30.6,22.1,23-50,9-27,83,85,120.5,104.8
300,2024-12-10,Michigan,Arkansas,N,0.9,123.6,108.4,112.3,64.4,21.9,...,56.8,18.1,33.3,33.3,24-43,9-23,89,87,124.8,102.1
301,2024-12-18,Michigan,Oklahoma,N,0.4,130.3,111.6,123.1,50.0,14.3,...,57.9,18.6,35.5,42.1,15-32,12-25,87,86,133.9,113.1