### Loading Packages

In [3]:
library(dplyr)

current_date <- as.Date("2024-12-29")
file_to_write <- "test_file_29th.csv"

In [4]:
cbbdata::cbd_login(username = "Naki", password = "Duke@123")
data <- cbbdata::cbd_torvik_team_factors(year = 2025, no_bias = TRUE) 
print(data)

API Key set!# A tibble: 364 x 31
   team   conf  games  wins losses adj_t adj_o adj_d barthag   efg def_efg   ftr
   <chr>  <chr> <dbl> <dbl>  <dbl> <dbl> <dbl> <dbl>   <dbl> <dbl>   <dbl> <dbl>
 1 Auburn SEC      12    11      1  69.3  135.  94.4   0.984  59.6    44.1  28.2
 2 Houst~ B12      11     8      3  63    122.  85.9   0.982  52.9    40.5  29
 3 Duke   ACC      12    10      2  66.9  119.  85.1   0.978  54.9    41.2  29.7
 4 Tenne~ SEC      12    12      0  67.3  119.  86.6   0.975  57.1    40.7  34.3
 5 Flori~ SEC      12    12      0  70.7  124.  93.6   0.961  54.4    42.9  32.6
 6 Gonza~ WCC      13     9      4  71.4  123.  93.6   0.959  55.5    46.1  31.7
 7 Iowa ~ B12      11    10      1  71.3  126.  96.7   0.953  57.6    47.8  40.3
 8 Maryl~ B10      13    11      2  71.3  117.  90.8   0.949  56.9    45.2  29.7
 9 Illin~ B10      11     8      3  72.8  116.  90.6   0.946  51.5    41.5  39.9
10 Alaba~ SEC      12    10      2  75.2  122.  95.9   0.944  54.7    45.2  43.4
# i 354 more rows
# i 19 more variables: def_ftr <dbl>, oreb_rate <dbl>, dreb_rate <dbl>,
#   tov_rate <dbl>, def_tov_rate <dbl>, two_pt_pct <dbl>, three_pt_pct <dbl>,
#   ft_pct <dbl>, def_two_pt_pct <dbl>, def_three_pt_pct <dbl>,
#   def_ft_pct <dbl>, three_fg_rate <dbl>, def_three_fg_rate <dbl>,
#   block_rate <dbl>, block_rate_allowed <dbl>, assist_rate <dbl>,
#   def_assist_rate <dbl>, wab <dbl>, year <dbl>

## Extract ACC and B10 Teams from list

In [ ]:
# Filter teams in ACC and B10 and extract into separate lists
acc_teams <- data |>
  filter(conf == "ACC") |>
  pull(team) # Extract the 'team' column as a list

b10_teams <- data |>
  filter(conf == "B10") |>
  pull(team) # Extract the 'team' column as a list

b12_teams <- data |>
  filter(conf == "B12") |>
  pull(team) # Extract the 'team' column as a list

espn_top25_week8 <- c(
  "Tennessee", "Auburn", "Iowa St.", "Duke", "Alabama", "Florida", 
  "Kansas", "Marquette", "Oregon", "Kentucky", "Connecticut", "Oklahoma", 
  "Texas A&M", "Gonzaga", "Houston", "Mississippi", "Cincinnati", 
  "Michigan St.", "Mississippi St.", "San Diego St.", 
  "Purdue", "UCLA", "Arkansas", "Illinois", "Baylor"
)

extra_games <- c("Colorado St.", "Georgia St.", "North Carolina Central", "Iowa St.", 
  "Richmond", "Boise St.", "Nevada", "Eastern Kentucky",  "Iona", "Texas St.", 
  "Army", "Northeastern", "Northwestern"
  )

unique_teams <- unique(c(acc_teams, b10_teams, b12_teams, espn_top25_week8, extra_games))

print(acc_teams)
print(b10_teams)
print(b12_teams)
print(espn_top25_week8)
print(unique_teams)

 [1] "Duke"           "Pittsburgh"     "Clemson"        "North Carolina"
 [5] "SMU"            "Louisville"     "Florida St."    "Notre Dame"
 [9] "Stanford"       "Virginia"       "Wake Forest"    "Georgia Tech"
[13] "Miami FL"       "California"     "Syracuse"       "Virginia Tech"
[17] "Boston College"
 [1] "Maryland"     "Illinois"     "UCLA"         "Michigan"     "Oregon"
 [6] "Michigan St." "Penn St."     "Purdue"       "Wisconsin"    "Nebraska"
[11] "Iowa"         "Northwestern" "Ohio St."     "Indiana"      "USC"
[16] "Rutgers"      "Washington"   "Minnesota"
 [1] "Houston"       "Iowa St."      "Texas Tech"    "Kansas"
 [5] "Arizona"       "Cincinnati"    "Baylor"        "West Virginia"
 [9] "BYU"           "Utah"          "Arizona St."   "TCU"
[13] "Colorado"      "UCF"           "Kansas St."    "Oklahoma St."
 [1] "Tennessee"       "Auburn"          "Iowa St."        "Duke"
 [5] "Alabama"         "Florida"         "Kansas"          "Marquette"
 [9] "Oregon"          "Kentucky"        "Connecticut"     "Oklahoma"
[13] "Texas A&M"       "Gonzaga"         "Houston"         "Mississippi"
[17] "Cincinnati"      "Michigan St."    "Mississippi St." "San Diego St."
[21] "Purdue"          "UCLA"            "Arkansas"        "Illinois"
[25] "Baylor"
 [1] "Duke"                   "Pittsburgh"             "Clemson"
 [4] "North Carolina"         "SMU"                    "Louisville"
 [7] "Florida St."            "Notre Dame"             "Stanford"
[10] "Virginia"               "Wake Forest"            "Georgia Tech"
[13] "Miami FL"               "California"             "Syracuse"
[16] "Virginia Tech"          "Boston College"         "Maryland"
[19] "Illinois"               "UCLA"                   "Michigan"
[22] "Oregon"                 "Michigan St."           "Penn St."
[25] "Purdue"                 "Wisconsin"              "Nebraska"
[28] "Iowa"                   "Northwestern"           "Ohio St."
[31] "Indiana"                "USC"                    "Rutgers"
[34] "Washington"             "Minnesota"              "Houston"
[37] "Iowa St."               "Texas Tech"             "Kansas"
[40] "Arizona"                "Cincinnati"             "Baylor"
[43] "West Virginia"          "BYU"                    "Utah"
[46] "Arizona St."            "TCU"                    "Colorado"
[49] "UCF"                    "Kansas St."             "Oklahoma St."
[52] "Tennessee"              "Auburn"                 "Alabama"
[55] "Florida"                "Marquette"              "Kentucky"
[58] "Connecticut"            "Oklahoma"               "Texas A&M"
[61] "Gonzaga"                "Mississippi"            "Mississippi St."
[64] "San Diego St."          "Arkansas"               "Colorado St."
[67] "Georgia St."            "North Carolina Central" "Richmond"
[70] "Boise St."              "Nevada"                 "Eastern Kentucky"
[73] "Iona"                   "Texas St."              "Army"
[76] "Northeastern"

## Extract Relevant Factors

In [6]:
selected_data_columns <- data |> 
  dplyr::select(Team = team, 
                ADJO = adj_o, 
                ADJD = adj_d,
                EFG_pct = efg, 
                TO_Pct = tov_rate, 
                OR_Pct = oreb_rate,
                FTR_Pct = ftr, 
                ThreePointer_Pct = three_pt_pct)

print(selected_data_columns)

# A tibble: 364 x 8
   Team       ADJO  ADJD EFG_pct TO_Pct OR_Pct FTR_Pct ThreePointer_Pct
   <chr>     <dbl> <dbl>   <dbl>  <dbl>  <dbl>   <dbl>            <dbl>
 1 Auburn     135.  94.4    59.6   13     35.6    28.2             38
 2 Houston    122.  85.9    52.9   14.5   38.4    29               41.5
 3 Duke       119.  85.1    54.9   15.5   34.4    29.7             35.4
 4 Tennessee  119.  86.6    57.1   16.6   38.8    34.3             36.5
 5 Florida    124.  93.6    54.4   15.2   42.2    32.6             34.3
 6 Gonzaga    123.  93.6    55.5   14.1   32.3    31.7             34.3
 7 Iowa St.   126.  96.7    57.6   13.4   33.6    40.3             35.1
 8 Maryland   117.  90.8    56.9   13.7   34.5    29.7             36.6
 9 Illinois   116.  90.6    51.5   16     36.4    39.9             32.3
10 Alabama    122.  95.9    54.7   17.6   36.7    43.4             31.2
# i 354 more rows

## Cleaning Season Schedule

In [7]:
all_games <- cbbdata::cbd_torvik_season_schedule(year = 2025)
all_games <- all_games |>
  mutate(Location = ifelse(neutral, "N", "H")) |>
  select(-neutral, -type, -year, -game_id) |>
  rename(Team = home,
         Opponent = away,
         )

## Finding Games for Particluar Data

In [8]:
upcoming_games <- all_games |>
  filter(date == current_date)
print(upcoming_games)

required_upcoming_games <- upcoming_games |>
  filter(Team %in% unique_teams | Opponent %in% unique_teams)
print(required_upcoming_games)

          date                   Team               Opponent Location
        <Date>                 <char>                 <char>   <char>
 1: 2024-12-29       Central Arkansas   Southwestern Christ.        H
 2: 2024-12-29                 Temple                Buffalo        H
 3: 2024-12-29              Texas St.           UT Arlington        H
 4: 2024-12-29             Washington                   NJIT        H
 5: 2024-12-29         North Carolina               Campbell        H
 6: 2024-12-29                Georgia     South Carolina St.        H
 7: 2024-12-29         William & Mary                   Navy        H
 8: 2024-12-29                   Iona                Harvard        H
 9: 2024-12-29           UC Riverside             St. Thomas        H
10: 2024-12-29          James Madison                 Midway        H
11: 2024-12-29           North Dakota                Waldorf        H
12: 2024-12-29           Kennesaw St.         Brewton-Parker        H
13: 2024-12-29                   Army                   UTSA        H
14: 2024-12-29         Youngstown St.                Detroit        H
15: 2024-12-29                  Maine      Boston University        H
16: 2024-12-29           Northwestern           Northeastern        H
17: 2024-12-29                 Lehigh                Neumann        H
18: 2024-12-29             Quinnipiac                Hofstra        H
19: 2024-12-29                  Drake                Belmont        H
20: 2024-12-29          Robert Morris      Northern Kentucky        H
21: 2024-12-29             High Point            Norfolk St.        H
22: 2024-12-29                 Marist             Binghamton        H
23: 2024-12-29                Alabama       South Dakota St.        H
24: 2024-12-29               American                   UMBC        H
25: 2024-12-29           Illinois St.       Illinois Chicago        H
26: 2024-12-29 Texas A&M Corpus Chris              Schreiner        H
27: 2024-12-29              Lafayette              Stonehill        H
28: 2024-12-29       Coastal Carolina                 Warner        H
29: 2024-12-29               Ohio St.            Indiana St.        H
30: 2024-12-29                  Texas       Northwestern St.        H
31: 2024-12-29         Tennessee Tech               Milligan        H
32: 2024-12-29               Illinois            Chicago St.        H
33: 2024-12-29              Green Bay             Fort Wayne        H
34: 2024-12-29           Sacred Heart         Manhattanville        H
35: 2024-12-29 Southeast Missouri St.       Westminster (MO)        H
36: 2024-12-29                 Oregon              Weber St.        H
37: 2024-12-29               Penn St.                   Penn        H
38: 2024-12-29          Cleveland St.             Wright St.        H
39: 2024-12-29                Bradley             Valparaiso        H
40: 2024-12-29                    LSU Mississippi Valley St.        H
41: 2024-12-29                    SMU               Longwood        H
42: 2024-12-29         Incarnate Word         Texas Lutheran        H
43: 2024-12-29                Florida                Stetson        H
44: 2024-12-29              Minnesota             Morgan St.        H
45: 2024-12-29                Niagara               Le Moyne        H
46: 2024-12-29             Evansville           Missouri St.        H
47: 2024-12-29            Austin Peay                Brescia        H
48: 2024-12-29               Kent St.             Heidelberg        H
49: 2024-12-29               Lipscomb                 Asbury        H
50: 2024-12-29                 Albany            Stony Brook        H
51: 2024-12-29            Wichita St.                Friends        H
52: 2024-12-29              Milwaukee                  IUPUI        H
53: 2024-12-29               Oklahoma       Prairie View A&M        H
54: 2024-12-29             Holy Cross             Regis (MA)        H
55: 2024-12-29               Michigan       Western Kentucky        H
56: 2024-12-29    Central Connecticut       JWU (Providence)        H
57: 2024-12-29          Northern Iowa      Southern Illinois        H
58: 2024-12-29                Indiana               Winthrop        H
59: 2024-12-29           Tarleton St.            Florida A&M        H
60: 2024-12-29                 Purdue                 Toledo        H
          date                   Team               Opponent Location
          date           Team         Opponent Location
        <Date>         <char>           <char>   <char>
 1: 2024-12-29      Texas St.     UT Arlington        H
 2: 2024-12-29     Washington             NJIT        H
 3: 2024-12-29 North Carolina         Campbell        H
 4: 2024-12-29           Iona          Harvard        H
 5: 2024-12-29           Army             UTSA        H
 6: 2024-12-29   Northwestern     Northeastern        H
 7: 2024-12-29        Alabama South Dakota St.        H
 8: 2024-12-29       Ohio St.      Indiana St.        H
 9: 2024-12-29       Illinois      Chicago St.        H
10: 2024-12-29         Oregon        Weber St.        H
11: 2024-12-29       Penn St.             Penn        H
12: 2024-12-29            SMU         Longwood        H
13: 2024-12-29        Florida          Stetson        H
14: 2024-12-29      Minnesota       Morgan St.        H
15: 2024-12-29       Oklahoma Prairie View A&M        H
16: 2024-12-29       Michigan Western Kentucky        H
17: 2024-12-29        Indiana         Winthrop        H
18: 2024-12-29         Purdue           Toledo        H

In [9]:
# Extract stats for Team and Opponent
team_data <- required_upcoming_games |>
  left_join(selected_data_columns, by = c("Team" = "Team"))

opponent_data <- required_upcoming_games |>
  left_join(selected_data_columns, by = c("Opponent" = "Team")) |>
  rename_with(~ paste("Opp_", ., sep = ""))

# Remove unwanted columns
opponent_data <- opponent_data |>
  rename(Opponent = Opp_Opponent,
         Team = Opp_Team) |>
  select(-c("Opp_date","Opp_Location"))

# Combine both datasets
final_data <- team_data |>
  left_join(opponent_data, by = c("Team", "Opponent"))

# Print the final result
print(final_data)

          date           Team         Opponent Location      ADJO      ADJD
        <Date>         <char>           <char>   <char>     <num>     <num>
 1: 2024-12-29      Texas St.     UT Arlington        H 109.40287 104.37293
 2: 2024-12-29     Washington             NJIT        H 103.54871 100.97670
 3: 2024-12-29 North Carolina         Campbell        H 116.53939  99.45831
 4: 2024-12-29           Iona          Harvard        H  96.90683 106.35747
 5: 2024-12-29           Army             UTSA        H 104.12970 113.87939
 6: 2024-12-29   Northwestern     Northeastern        H 108.57571  92.57980
 7: 2024-12-29        Alabama South Dakota St.        H 122.48031  95.87835
 8: 2024-12-29       Ohio St.      Indiana St.        H 114.31573  97.61827
 9: 2024-12-29       Illinois      Chicago St.        H 116.12737  90.58129
10: 2024-12-29         Oregon        Weber St.        H 117.26267  95.40811
11: 2024-12-29       Penn St.             Penn        H 115.92260  96.62275
12: 2024-12-29            SMU         Longwood        H 117.10782 101.27350
13: 2024-12-29        Florida          Stetson        H 123.58332  93.62036
14: 2024-12-29      Minnesota       Morgan St.        H 102.66470 101.10200
15: 2024-12-29       Oklahoma Prairie View A&M        H 117.81962 101.41083
16: 2024-12-29       Michigan Western Kentucky        H 116.31836  93.74299
17: 2024-12-29        Indiana         Winthrop        H 113.44534  98.92579
18: 2024-12-29         Purdue           Toledo        H 120.20031 100.53206
    EFG_pct TO_Pct OR_Pct FTR_Pct ThreePointer_Pct  Opp_ADJO  Opp_ADJD
      <num>  <num>  <num>   <num>            <num>     <num>     <num>
 1:    51.8   20.1   35.0    39.5             39.0 108.82131 110.48566
 2:    49.2   17.1   31.0    41.7             32.4  90.85560 110.56840
 3:    52.8   15.0   28.7    39.8             31.6  96.03386 108.16951
 4:    44.8   23.8   41.3    34.3             30.3  98.06868 109.20048
 5:    49.4   14.0   28.6    26.3             31.9 104.24025 109.53989
 6:    49.4   13.5   29.9    33.5             33.2 101.64926 101.46421
 7:    54.7   17.6   36.7    43.4             31.2 109.05791 102.08964
 8:    57.4   15.3   28.1    35.2             39.9 109.36047 113.09040
 9:    51.5   16.0   36.4    39.9             32.3  89.04705 110.39905
10:    52.2   16.4   34.4    40.3             33.6 104.65823 111.61767
11:    57.4   15.9   33.2    36.6             36.7  98.77966 114.34894
12:    55.4   16.2   39.5    40.2             38.3 101.61925 103.75706
13:    54.4   15.2   42.2    32.6             34.3  95.99284 119.35877
14:    49.0   16.1   29.0    33.4             28.8  98.50248 120.35587
15:    56.3   16.2   30.7    35.1             37.1 105.94313 119.92639
16:    58.4   21.2   37.5    32.0             34.7 104.09502  97.49945
17:    54.7   18.8   33.2    36.5             32.9 102.88440 105.40355
18:    56.3   18.3   30.1    41.2             39.6 107.85175 113.40225
    Opp_EFG_pct Opp_TO_Pct Opp_OR_Pct Opp_FTR_Pct Opp_ThreePointer_Pct
          <num>      <num>      <num>       <num>                <num>
 1:        51.4       18.0       33.4        34.3                 37.8
 2:        44.2       19.5       27.1        27.5                 29.7
 3:        47.5       17.7       22.6        35.9                 30.7
 4:        48.7       18.9       26.2        24.7                 30.1
 5:        48.3       18.8       30.4        29.8                 34.0
 6:        51.9       18.5       29.3        31.3                 32.4
 7:        52.4       18.3       31.1        29.4                 32.7
 8:        59.1       21.2       26.5        29.6                 38.0
 9:        40.9       20.5       24.3        27.8                 29.1
10:        49.4       16.6       29.0        33.3                 30.8
11:        45.5       17.5       29.9        31.8                 29.3
12:        49.7       19.1       33.6        45.4                 28.4
13:        49.1       20.3       25.9        31.1                 33.6
14:        49.1       18.7       31.3        29.7                 27.8
15:        47.3       15.5       24.0        36.6                 32.3
16:        50.4       16.5       23.2        37.1                 34.9
17:        49.4       18.9       33.3        55.1                 28.5
18:        49.9       13.5       24.7        32.7                 34.2

In [10]:
#write.csv(final_data, file_to_write, row.names = FALSE)